body{
  background: white;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-size: 16px;
  margin: 0px;
}
.form-login{
  border: 2px #2ba5f7 solid;
  border-radius: 10%;
  margin: 20px 500px 0px 500px;
}
.form-login.has-error{
  border: 2px red solid;
  border-radius: 10%;
  margin: 0px 500px 0px 500px;
}
.erro {
  padding: 3px;
  background-color: white;
  color: red;
}
.div-erro{
  margin-top: 50px;
  margin-left: 545px;
}
button{
  border: 1px black solid;
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  color: black;
  font-weight: bold;
}
label{
  font-weight: bold;
}
.logo{
  height: 100px;
}
.logoMenu{
  float: left;
  height: 100px;
}
.user{
  width: 30%;
  height: 30%;
  padding: 0% 0% 0% 35%;
  margin-top: 30px;
  margin-bottom: 25px;
}
.cabecalho{
  float: left;
  padding: 10px;
  width: 100px;
}
.quebra{
  clear: left;
}
/*MENU.PHP*/
a{
  color: black;
  padding: 5px;
  background-color: white;
  border: 1px black solid;
  text-decoration: none;
}
a:hover{
  color: goldenrod;
  padding: 5px;
  background-color: lightyellow;
  border: 3px black solid;
  text-decoration: none;
}
.tabela{
  padding: 5px;
  border: 2px black solid;
}
.formulario{
  padding: 0% 0% 0% 26%;
  margin-bottom: 30px;
}
td{
  border: 1px black solid;
}
header{
  background-color: white;
  border: 2px black solid;
}