@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
  font-family: 'Poppins', sans-serif;
}
body{
  background: #030c16;
  color: white;
  font-style: normal;
  font-size: 19px;
  min-width: 97%;
  max-width: 97%;
  margin: 15px;
}
.about {
  font-size: 23px;
}
.github-container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 30%;
  border-radius: 15px;
  background-color: #615EFC;
  text-align: center;
  border: 3px solid white;
}
.github-container-painel {
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
  margin-left: 100px;
  margin-bottom: 110px;
  width: 230px;
  border-bottom: 2px solid white;
}
.github-icon {
  margin-right: 2px;
  width: 20px;
}
.github-link {
  font-size: 21px;
  font-weight: bold;
  color: white;
}
.github-link:hover{
  color: #030c16;
}
.github-link-painel {
  font-size: 21px;
  font-weight: bold;
  color: white;
}
.github-link-painel:hover{
  color: #615EFC;
}
.form-login{
  padding: 10px;
  background-color: #615EFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  width: 25%;
  border: 2px solid #030c16;
  margin-left:auto;
  margin-right:auto;
  margin-top: 9.05%;
}
.form-login.has-error{
  border: 2px solid brown;
}
.bem-vindo {
  padding: 40px 10px;
  background-color: #615EFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  width: 25%;
  border: 2px solid #030c16;
  margin-left:auto;
  margin-right:auto;
  margin-top: 6.55%;
}
.user-painel{
  width: 30%;
  height: 30%;
}
.nome-user{
  font-weight: bold;
  margin: 0px 10px 40px 0px;
  text-align: center;
}
.user-box {
  background-color: #615EFC;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 10px;
}
.img-box {
  width: 25px;
}
.nome-box {
  font-size: 14px;
  font-weight: bold;
}
.button-box {
  width: 15px;
}
button {
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #030c16;
  color: white;
  border: 0px;
  border-radius: 24px;
  padding: 8px;
  width: 50%;
}
button:hover {
  background-color: white;
  color: #615EFC;
}
.btn-actions {
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #615EFC;
  color: white;
  border: 0px;
  border-radius: 24px;
  padding: 8px;
  width: 100px;
}
.button-senha {
  margin-top: 0.5px;
  background-color: #030c16;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px;
  width: 70%;
  height: 22px;
}
.button-id {
  margin-top: 0.5px;
  background-color: #030c16;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px;
  width: 70%;
  height: 22px;
}
.erro {
  font-weight: bold;
  padding: 2px;
  margin: 18%;
  background-color: white;
  color: red;
}
.div-erro{
  margin-top: 10px;
  margin-left: 360px;
}
.logo{
  height: 50px;
}
.user{
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  width: 30%;
  height: 30%;
  margin: 10px;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  padding: 10px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quebra{
  clear: left;
}
/*MENU.PHP*/
.menu {
  margin-top: 25px;
  gap: 12px;
}
h1{
  font-size: 22px;
}
.tabela{
  width: 99%;
  padding: 5px;
  height: 50px;
  border-collapse: collapse;
}
th {
  font-size: 15px;
  padding: 15px;
}
td {
  text-align: center;
}
th:first-child{
  border-top-left-radius: 15px;
}
th:last-child {
  border-top-right-radius: 15px;
}
.tabela thead{
  background-color: #615EFC;
  color: white;
}
.tabela tbody, tr {
  font-size: 15px;
  border-bottom: 1px solid #dddddd;
}
p {
  text-align: center;
  margin: 0 10px 0px 0px;
}
input.entrar {
  width: 38px;
}
input.capa, input.capa:hover {
  width: 90%;
  background-color: transparent;
}
a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
a:hover{
  color: #615EFC;
  border-radius: 3px;
}
.cadastro {
  background-color: #615EFC;
  width: 610px;
  height: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
  border: 3px solid white;
}
.capa {
  width: 70px;
}
input{
  border: 0px;
  border-radius: 15px;
  width: 90%;
  padding: 8px;
}
input:hover {
  background-color: #e9e9e9;
}
select {
  padding: 5px;
  border-radius: 15px;
}
select:hover {
  background-color: #e9e9e9;
  padding: 5px;
  border-radius: 15px;
}
textarea{
  padding: 5px;
  border-radius: 15px;
  width: 90%;
}
input.id {
  padding: 2px;
  border: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 150px;
  height: 27px;
}
input.senha {
  padding: 2px;
  border: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 150px;
  height: 27px;
}
#txtBuscar{
  margin-right: 10px;
  width: 90%;
}
.buscar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.data {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.hora {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
select{
  background-color: #f3f3f3;
  border: 0px;
  border-bottom: 2px solid black;
  font-weight: bold;
}
.mensagem-cadastro{
  background-color: #030c16;
  position: absolute;
  width: 15%;
  top: 50%;
  left: 50%;
  margin: -200px 0px 0px -150px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
}
.login-id{
  float: left;
}
.login-senha {
  float: left;
}
.btn-close {
  background-color: #615EFC;
}